.card-hover {
    color: white !important;
    margin-top: -2rem;
    transition: 0.3s;

    box-shadow: 0 11px 16px 0 rgba(0, 0, 0, 0.3);
    .img-hover {
        opacity: 1;

    }
    
    .button-hover {
        opacity: 1;
    }

    .small-hover {
        color: white !important;
    }

    @media (max-width: 426px) {
        .get-started-button-container {
            display: block !important;
        }

        .get-started-btn {
            margin-bottom: 40px;    
        }

        .arrow-right-container {
            display: none;
        }
    }
}