.terms-page {
  background: white;
  overflow: hidden;
  p {
    font-family: "Theinhardt" !important;
  }

  h2 {
    font-family: "Theinhardt" !important;
  }

  h3 {
    font-family: "Theinhardt" !important;
  }
  
  .blog-post-container {
    margin-top: -240px;
    
  }

  .blog-container {
    .blog-content {
      padding: 64px;
    }
    background-color: white;
    padding-bottom: 300px;

    @media (max-width: 426px) {
      padding: 32px;
    }
  }

  .blog-container {
    padding: 70px 70px 300px;

    @media (max-width: 426px) {
      padding: 50px 30px 100px;
    }
  }
}
