.faq-page {

  @media (max-width: 550px) {
    h5 {
      font-size: 1.1rem;
    }
  }
  
  .hover-none {
    p,li {
      color: black !important;
      
    }
    
    
  }

    background-color: white;
    .accordion {
        border-top: 1px solid #91bcdc;
        
        &:last-child {
          border-bottom: 1px solid #91bcdc;
        }

        button {
            font-weight: 500;
            color: #006fbb;
          
            .faq-answer {
              font-weight: 400;
              color: #444444;
            }
          
            :focus {
              box-shadow: none;
            }
          
            :hover {
              color: #006fbb;
            }
        }
    }

    .hi {
      &:hover {
        color: black;
      }
    }

    a {
      cursor: pointer;
    }

    a.active {
      background-color: transparent !important;
      color: #006fbb !important;
    }

  .nav-pills a:hover {
    color: #006fbb;
  }
}