@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/scss/bootstrap";

$primary: #006fbb;
$secondary: #91bcdc;
$background: #f5f5f5;

body {
  height: 100%;
}

@font-face {
  font-family: "Tungsten-Black";
  src: url("../fonts/Tungsten-Black.otf");
}

@font-face {
  font-family: "Kokomo-Breeze-Regular";
  src: url("../fonts/Kokomo-Breeze-Regular.otf");
}

@font-face {
  font-family: "Theinhardt";
  src: url("../fonts/Theinhardt.otf");
}

@font-face {
  font-family: "Theinhardt";
  src: url("../fonts/THEINHARDT-MEDIUM.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Theinhardt";
  src: url("../fonts/THEINHARDT-LIGHT.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Theinhardt";
  src: url("../fonts/THEINHARDT-BOLD.otf");
  font-weight: 700;
}

* {
  scroll-behavior: smooth;
  font-family: "Theinhardt";
}

h1 {
  font-family: "Tungsten-Black";
  color: white;
  letter-spacing: 1.8px;
  line-height: 3.15rem;
}

h2 {
  font-family: "Kokomo-Breeze-Regular";
  line-height: 1.75rem;
}

h3 {
  @media (max-width: 576px) {
    font-size: 24px;
  }
}

p {
  font-family: "Theinhardt";
  font-weight: 300;
  line-height: 24px;

  @media (max-width: 576px) {
    font-size: 16px;
  }
}

.big-text {
  font-size: 4rem;
  text-transform: uppercase;
  z-index: 2;

  @media (min-width: 576px) {
    font-size: 7rem;
  }

  @media (min-width: 768px) {
    font-size: 120px;
  }
}

.big-subtitle {
  font-size: 3rem;
  line-height: 0.5;
  font-family: "Kokomo-Breeze-Regular";
  color: #91bcdc;
  z-index: 2;

  @media (max-width: 576px) {
    font-size: 6rem;
  }

  @media (max-width: 768px) {
    font-size: 5rem;
  }

  @media (max-width: 992px) {
    font-size: 5rem;
  }

  @media (max-width: 1200px) {
    font-size: 6rem;
  }
}

.text-primary {
  color: $primary !important;
  line-height: 6rem;
}

.text-secondary {
  color: $secondary !important;
}

.bg-grey {
  background-color: $background;
}

.font-weight-bold {
  font-family: "Theinhardt" !important;
}

.nav-link {
  font-family: "Theinhardt" !important;
  white-space: nowrap;
}


.card-body {
  text-align: left;
}

.section-leading-text {
  font-family: "Theinhardt";
  font-weight: 400;
  font-size: 32px;

  @media (max-width: 576px) {
    font-size: 24px;
    text-align: left;
  }
}

.full-width-image-container {
  height: 400px;
  position: relative;
}

.full-width-image {
  width: 100vw;
  height: 400px;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}


.display-2,
.display-3 {
  text-transform: uppercase;
  line-height: 0.75;
}

.btn {
  font-size: 14px;
  border-width: 2px;
  line-height: 1.5;
}

.btn-outline-primary {
  border-color:  $primary !important;

  &:hover {
    background-color: $primary;
  }
}


.bg-primary {
  background-color: $primary !important;
}

.col-md-20 {
  flex: 0 0 20%;
  max-width: 20%;
}

.bg-grey {
  background-color: #f5f5f5;
}

.modal-lg {
  width: 90vw;
  height: 90vh;
  max-width: none !important;
}

.modal-content {
  height: 100%;
}

p,
.nav-item {
  font-family: "Theinhardt";
  font-weight: 300;
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

video {
  height: 100%;
  width: 100%;
}

.btn-outline-primary {
  border-color: $primary;
  color: $primary;
}

.row-fix {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.carousel-control-next-icon {
  height: 30px;
  background-image: url("../img/arrow-right.png");
}

.carousel-control-prev-icon {
  height: 30px;
  background-image: url("../img/arrow-left.png");
}

.carousel-control-prev {
  width: 10%;
}

.carousel-control-next {
  width: 10%;
}

.border-1 {
  border-width: 1px;
}

.form-control:focus, button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.border-primary {
  border-color: $primary !important;
}

.dark-grey {
  color: rgba(120, 120, 120, 1);
}

.font-size-18 {
  font-size: 18px;
}

.border-white {
  border-color: white !important;
}

.navbar-toggler-icon {
  background-image: url("../img/menu.png") !important;
  height: 25px;
  width: 30px;

  
}

.navbar-toggler {
  border: none;
  object-fit: contain;
}

.modal-content {
  height: 100%;
}

.on-mobile .carousel {
  min-height: 100%;
}

.landing-page .feature-carousel-container .carousel-item {
  /* height: 470px; */
  height: auto !important;
}



.slick-next:before {
  background: $primary;
  content: "" !important;
}

.slick-prev {
  height: 75px;
  width: 75px;
}

.slick-prev:before {
  height: 50px;
  width: 50px;
  top: -20px;
  content: "" !important;
}
